@import "~bootstrap/scss/bootstrap";

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    margin-top: 65px;
    flex-grow: 1;
    padding: 20px 0 20px 0;
  }
}

.Navigation {
  .navbar-brand {
    img {
      width: 175px;
    }
  }
}

.Menu {
  .menu-list {
    list-style: none;
    padding-left: 0;
  }

  .menu-item {
    font-weight: bold;
  }

  .menu-price {
    font-weight: bold;
  }
}

.Pictures {
  div.carousel.slide {
    //width: 50%;

    //img {
    //  width: 50% !important;
    //  height: 50% !important;
    //}
  }
}